*{
  padding: 0;
  margin: 0;
}

body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  background-color: rgba(76,70,50,0.2);
}

a{
  text-decoration: none;
}
