/* Allgemein*/
html {
	font-family: Arial;
	margin-left: 2%;
	margin-right: 2%;
}

header {
	margin-bottom: 20px;
}
/*Allgemein End*/

/* Navigation*/
nav{
	border: 1px;
	float: right;
	margin-top: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #111;
}
/*Navigation End*/

/*Logo*/
.logo{
	width: 250px;
	height: 100px;
	border: 1px;
	display: inline;
	float: left;
	margin-bottom: 20px;
}
/*Logo End*/

/*Slider*/
.slider{
	display: block;
	padding-top: 50px;
	height: 400px;
	width: 100%;
	border: 1px;
	clear: both;
	overflow: hidden;
}

.slider img{
	width: 100%;
}
/*Slider End*/

/*Content*/
.content:before{
	float: clear;
	display: clear;
}

.content{
	margin-top: 40px;
}

.container{
  display: flex;
  padding: 20px;
  margin: auto;
} 

.newsletter{
	display: flex;
	margin: 10px auto;
	padding: 20px 0;
	width: 100%;
}

form{
	width: 100%;
}

#text{
	font-size: 25px;
	margin-right: 25%;
	width: 33%;
	float: left;
}

input{
	width: 33%;
}

button{
	float: right;
}

.inhalt{
	float: left;
	width: 33%;
}

/*Content End*/

/*Footer*/
.footer:before{
	float: clear;
}

.footer{
	
}
/*Footer End*/